:root {
    --icon-button-size: 48px;

    --navbar-height: 48px;
    --navbar-padding-x: 0px;
    --navbar-brand-img-padding: 0 12px;
    --navbar-profile-img-size: 24px;
    --navbar-trailing-gap: 0px;

    --content-scrollbar-width: 0px;
    --content-padding: 0px;
    --content-gap-vertical: 24px;
    --content-item-padding: 0px;
    --content-item-details-padding: 0 12px;
    --content-item-border-radius: 0px;
    --content-shorts-header-padding: 0 0 4px 0px;
    --content-shorts-row-overflow: auto;

    --font-color: #0f0f0f;
}

/* Extra small */
@media only screen and (max-width: 575px) {}

/* Small */
@media only screen and (min-width: 576px) {
    :root {
        --icon-button-size: 40px;

        --navbar-height: 56px;
        --navbar-padding-x: 8px;
        --navbar-brand-img-padding: 0 14px 0 16px;
        --navbar-profile-img-size: 32px;

        --content-padding: 16px 8px;
        --content-item-padding: 8px;
        --content-item-details-padding: 0px;
        --content-item-border-radius: 12px;
        --content-shorts-header-padding: 0 0 16px 16px;
        --content-shorts-row-overflow: hidden;
    }

    #navbar-profile-button {
        width: 48px;
        height: 34px;
        margin: 0 6px;
    }

    #navbar-profile-button:hover {
        background-color: transparent;
    }

    #content .video-item:hover {
        background-color: #0000000d;
    }
}

/* Medium */
@media only screen and (min-width: 768px) {
    :root {
        --navbar-padding-x: 16px;
        --navbar-trailing-gap: 8px;

        --content-scrollbar-width: 10px;
        --content-gap-vertical: 32px;
        --content-item-padding-vertical: 8px;
    }
}

/* Larger */
@media only screen and (min-width: 992px) {}

/* Extra large */
@media only screen and (min-width: 1200px) {}

/* Extra extra large */
@media only screen and (min-width: 1400px) {}